*

!.gitignore
!.gitconfig
!.xinitrc
!.zshrc
!.zshenv
!README.md

!.config

!.config/alacritty
!.config/alacritty/alacritty.yml

!.config/sxkhd
!.config/sxkhd/sxhkdrc

!.config/nvim
!.config/nvim/init.vim

!.config/bspwm
!.config/bspwm/bspwmrc

!.config/rofi
!.config/rofi/config.rasi

!.config/picom
!.config/picom/picom.conf

!.config/polybar
!.config/polybar/config.ini

!.config/mpv
!.config/mpv/mpv.conf

!.config/ncmpcpp
!.config/ncmpcpp/config

!.config/mpd
!.config/mpd/mpd.conf

!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
