*

!.gitignore
!.gitconfig
!.xinitrc
!.zshrc
!.zshenv
!README.md

!.config
!.config/alacritty
!.config/sxkhd
!.config/nvim
!.config/bspwm
!.config/rofi
!.config/picom
!.config/polybar
!.config/mpv/mpv.conf
!.config/ncmpcpp/config
!.config/mpd/mpd.conf
!.config/gtk-3.0/settings.ini
